<div class="dashboard">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

        <div class="col-md order-md-first text-center text-md-left">
            <h2>
                <span class="small text-uppercase text-muted d-block">Statistics</span>
                <span *ngIf="filteredDateStart && filteredDateEnd">{{ filteredDateStart | date }} - {{ filteredDateEnd
                    | date
                    }}</span>
            </h2>
        </div>

        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">

                <kendo-combobox [data]="users$ | async" textField="fullName" valueField="id" (open)="userFilterOpen()"
                    (valueChange)="userFilterValueChange($event)" placeholder="User" style="width: 250px;">

                    <ng-template kendoComboBoxItemTemplate let-userItem>

                        <div class="row" style="margin-left:10px;">
                            <img class="li-avatar rounded mx-auto d-block" [src]="userItem.avatar" />
                            <span style="margin-left:10px;">{{ userItem.fullName }}</span>
                        </div>
                    </ng-template>

                </kendo-combobox>

                <kendo-buttongroup selection="single">
                    <button kendoButton toggleable="true" icon="calendar" type="button" class="btn btn-sm btn-outline-secondary"
                        (click)="onMonthRangeTap(3)">3
                        Months</button>
                    <button kendoButton toggleable="true" icon="calendar" type="button" class="btn btn-sm btn-outline-secondary"
                        (click)="onMonthRangeTap(6)">6
                        Months</button>
                    <button kendoButton toggleable="true" icon="calendar" type="button" class="btn btn-sm btn-outline-secondary"
                        (click)="onMonthRangeTap(12)">1
                        Year</button>
                </kendo-buttongroup>


            </div>

        </div>
    </div>

    <div class="card">
        <h3 class="card-header">Active Issues</h3>
        <div class="card-block">
            <app-active-issues [statusCounts]="statusCounts$ | async"></app-active-issues>


            <div class="row">
                <div class="col-sm-12">
                    <h3>All issues</h3>
                    <kendo-chart>
                        <kendo-chart-series-defaults type="column" [stack]="true" [gap]="0.06"></kendo-chart-series-defaults>


                        <kendo-chart-category-axis>
                            <kendo-chart-category-axis-item [categories]="categories" [baseUnit]="'months'"
                                [majorGridLines]="{visible: false}" [labels]="{rotation: 'auto', margin: { top: 20 }}"></kendo-chart-category-axis-item>
                        </kendo-chart-category-axis>

                        <kendo-chart-series>
                            <kendo-chart-series-item [data]="itemsOpenByMonth" [opacity]="0.7" [color]="'#CC3458'">
                            </kendo-chart-series-item>

                            <kendo-chart-series-item [data]="itemsClosedByMonth" [opacity]="0.7" [color]="'#35C473'">
                            </kendo-chart-series-item>
                        </kendo-chart-series>

                    </kendo-chart>
                </div>
            </div>
        </div>
    </div>

</div>
