<div class="dashboard">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

        <div class="col-md order-md-first text-center text-md-left">
            <h2>
                <span class="small text-uppercase text-muted d-block">Statistics</span>
                <span *ngIf="filteredDateStart && filteredDateEnd">{{ filteredDateStart | date }} - {{ filteredDateEnd
                    | date
                    }}</span>
            </h2>
        </div>

        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">

                <kendo-combobox [data]="users$ | async" textField="fullName" valueField="id" (open)="userFilterOpen()"
                    (valueChange)="userFilterValueChange($event)" placeholder="User" style="width: 250px;">

                    <ng-template kendoComboBoxItemTemplate let-userItem>

                        <div class="row" style="margin-left:10px;">
                            <img class="li-avatar rounded mx-auto d-block" [src]="userItem.avatar" />
                            <span style="margin-left:10px;">{{ userItem.fullName }}</span>
                        </div>
                    </ng-template>

                </kendo-combobox>

                <kendo-buttongroup selection="single" look="flat">
                    <button kendoButton toggleable="true" primary="true" icon="calendar" type="button" class="btn btn-sm btn-outline-secondary"
                        (click)="onMonthRangeTap(3)">3
                        Months</button>
                    <button kendoButton toggleable="true" look="outline" icon="calendar" type="button" class="btn btn-sm btn-outline-secondary"
                        (click)="onMonthRangeTap(6)">6
                        Months</button>
                    <button kendoButton toggleable="true" look="flat" icon="calendar" type="button" class="btn btn-sm btn-outline-secondary"
                        (click)="onMonthRangeTap(12)">1
                        Year</button>
                </kendo-buttongroup>


            </div>

        </div>
    </div>


    <app-active-issues [statusCounts]="statusCounts$ | async"></app-active-issues>
</div>
