<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Backlog</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <app-preset-filter></app-preset-filter>

        <div class="btn-group mr-2">
            <button kendoButton type="button" (click)="onAddTap('custom-modal-1')" class="btn btn-sm btn-outline-secondary" icon="plus">Add</button>
        </div>

    </div>
</div>

<kendo-grid [data]="gridData" [pageSize]="gridState.take" [skip]="gridState.skip" [pageable]="true" [sortable]="true"
    [groupable]="true" [group]="gridState.group" [sort]="gridState.sort" [filterable]="true" [filter]="gridState.filter"
    [selectable]="selectableSettings" (dataStateChange)="onDataStateChange($event)" (selectionChange)="onSelectionChange($event)"
    [height]="410">
    <kendo-grid-column field="type" title="" [filterable]="false" width="40">
        <ng-template kendoGridCellTemplate let-dataItem>
            <img [src]="getIndicatorImage(dataItem)" class="backlog-icon" />
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="assignee" title="Assignee" width="260">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>
                <img [src]="dataItem.assignee.avatar" class="li-avatar rounded mx-auto" />
                <span style="margin-left: 10px;">{{dataItem.assignee.fullName}}</span>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="title" title="Title" width="300">
    </kendo-grid-column>
    <kendo-grid-column field="priority" title="Priority" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span [class]="'badge ' + getPriorityClass(dataItem)">{{ dataItem.priority }}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="estimate" title="Estimate" width="100">
    </kendo-grid-column>

    <kendo-grid-column field="dateCreated" title="Created" width="160" filter="date">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="li-date">{{ dataItem.dateCreated | date }}</span>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>


<custom-modal id="custom-modal-1">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Item</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('custom-modal-1')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <kendo-textbox-container floatingLabel="Title" style="width: 100%;">
                    <input kendoTextBox [(ngModel)]="newItem.title" name="title" />
                </kendo-textbox-container>
            </div>

            <div class="form-group">

                <kendo-textbox-container floatingLabel="Description" style="width: 100%;">
                    <textarea kendoTextArea [(ngModel)]="newItem.description" name="description"></textarea>
                </kendo-textbox-container>

            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Item Type</label>
                <div class="col-sm-10">
                    <select class="form-control" [(ngModel)]="newItem.type" name="itemType">
                        <option *ngFor="let itemType of itemTypesProvider" [ngValue]="itemType">{{itemType}}</option>
                    </select>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="closeModal('custom-modal-1')">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!newItem.title" (click)="onSaveTap(newItem,'custom-modal-1')">Save
            changes</button>
    </div>
</custom-modal>
